.light {
  --color: rgb(5, 5, 5);
  --background-color: rgb(250, 250, 250);
}
.App {
  background-image: url(images/background.jpg);
}
li {
  color: #1f5350;
}
ul.suggestions {
  background-color: #fff;
}
